<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>viewController</key>
		<string>PDHomeViewController</string>
		<key>normalImage</key>
		<string>global_footer_btn_new_normal_80x49_</string>
		<key>selectedImage</key>
		<string>global_footer_btn_new_selected_80x49_</string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PDTLController</string>
		<key>normalImage</key>
		<string>global_footer_btn_timeline_normal_80x49_</string>
		<key>selectedImage</key>
		<string>global_footer_btn_timeline_selected_80x49_</string>
		<key>title</key>
		<string>热门</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PDDegTableController</string>
		<key>normalImage</key>
		<string>global_footer_btn_dimension_normal_80x49_</string>
		<key>selectedImage</key>
		<string>global_footer_btn_dimension_selected_80x49_</string>
		<key>title</key>
		<string>异次元</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PDPropController</string>
		<key>normalImage</key>
		<string>global_footer_btn_shop_normal_80x49_</string>
		<key>selectedImage</key>
		<string>global_footer_btn_shop_selected_80x49_</string>
		<key>title</key>
		<string>道具屋</string>
	</dict>
	<dict>
		<key>viewController</key>
		<string>PrivateHomeTableController</string>
		<key>normalImage</key>
		<string>global_footer_btn_user_normal_80x49_</string>
		<key>selectedImage</key>
		<string>global_footer_btn_user_selected_80x49_</string>
		<key>title</key>
		<string>私宅</string>
	</dict>
</array>
</plist>
